@function torem($px){
    @return $px/16px + 0rem;
}

@mixin tablets{
    @media screen and (max-width: $tablets) {
		@content;
	}
}

@mixin phones{
    @media screen and (max-width: $phones) {
		@content;
	}
}

@mixin cover(){
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}