.delivery {
    background: url('../images/order/order_back.png') center center / cover no-repeat;
    position: relative;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

INPUT.checkbox,
input.checkball {
    display: none;
}

.delivery__container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delivery_h {
    
    display: flex;
    font-family: 'Gagalin-Regular';
    color: #f9b43b;
    font-size: torem(72px);
    font-weight: 400;
    text-align: center;
    margin-bottom:torem(42px);
    @include tablets{
        margin-bottom: torem(20px);    
    }
    @include phones{font-size: torem(50px);
        margin-bottom:torem(20px);
    max-width: 50%;}
}

.delivery__box {
    display: flex;
    width: 100%;
    height: 100%;

    @include tablets{width: 80%;}
}

.form {
    display: flex;
    width:90%;
    @include tablets{
        flex-direction: column;
        width: 70%;
    }
    @include phones{
        flex-direction: column;
        width: 95%;
    }
}

.form__left,
.form__right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: torem(20px);

    @include tablets{
        height:50%;
        width:100%;
    }
}

.form__row {
    margin-bottom: torem(15px);
    display: flex;
    justify-content: space-between;
    @include tablets{
        margin-bottom: torem(9px);    
    }
}

.form__block {
    padding-right: torem(25px);
    margin-right: torem(25px);
    flex: 1;
    @include phones{
        margin-right:0;
        padding-right: torem(10px);
    }
}

.form__block:last-child {
    margin-right: 0;
    padding-right: torem(0px);

   
}

.floor{ @include phones{display:none;}
}

.form__input {
    display: inline-block;
}

.form-field {
    width: 100%;
    background: #fff;
    border: none;
    font-size: torem(14px);
    border-radius: torem(5px);
    padding: torem(10px);
}

.form-field::placeholder {
    color: #ccc;
}

.form__textarea {
    width: 100%;
    resize: none;
    min-height: torem(125px);
    @include phones{
        min-height: torem(110px);    
    }
}

.form__block-title {
    height: torem(14px);
    color: #ffffff;
    font-weight: 300;
    padding-bottom: torem(30px);
}

.form-field {
    outline: none;
    border: torem(2px) solid transparent;
}

textarea:focus {
    outline: 0;
    border: torem(2px) solid #f9b43b;
}

input:focus {
    outline: 0;
    border: torem(2px) solid #f9b43b;
}



.form__send {
    width: torem(97px);
    height: torem(35px);
    border-radius: torem(3px);
    background-color: #e45028;
    border: none;
    text-align: top;

    text-transform: uppercase;
    color: #ffffff;
    font-family: "Ubuntu";
    font-weight: 500;
    color: #ffffff;
    font-size: torem(14px);
    ;

    padding: torem(0px);
    cursor: pointer;
    text-align: center;
}

.padtop {
    padding-top: torem(10px);
    @include phones{justify-content: center;}
}

.form__clear {
    width: torem(97px);
    height: torem(35px);
    border-radius: torem(3px);
    background-color: transparent;
    border: none;
    text-align: top;


    color: #ffffff;
    font-family: "Ubuntu";
    font-weight: 300;
    color: #ffffff;
    font-size: torem(14px);
    ;

    padding: torem(0px);
    cursor: pointer;
    text-align: center;
}


.no_space {
    margin-top: torem(20px);
    justify-content: unset;
    @include phones{justify-content: center;margin-top: 0;}
}

.circle__orange {
    position: relative;
    display: inline-block;
    width: torem(15px);
    height: torem(15px);
    border-radius: 50%;
    background-image: linear-gradient(0deg, #ededed 0%, #ffffff 100%);
    border: torem(1px) solid #c9c9c9;
    margin-left: torem(5px);
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(-50%, -50%);
        width: torem(7px);
        height: torem(7px);
        border-radius: 50%;
        display: none;
        background-color: #e35028;
        opacity: 0;
        margin-left: torem(5px);
    }
}

.checkball:checked~.circle__orange::after {
    display: block;
    opacity: 1;
}

.text__part {
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: torem(14px);
    font-weight: 300;
}

.chk__mark {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    height: torem(15px);
    width: torem(15px);
    background-color: #eee;
    margin-left: torem(6px);
    margin-right: torem(10px);

    &::after {
        content: "";
        position: absolute;
        display: none;
        left: 20%;

        width: torem(5px);
        height: torem(10px);
        border: solid #e45028;
        border-width: 0 torem(3px) torem(3px) 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

input.checkbox:checked~.chk__mark::after {
    display: block;
}

.phones{@include phones{justify-content: center;align-content: center;}}

//.form__cont{display: flex;
//    align-items: center;
 //   flex: 1;
//@include tablets{flex-direction:column;}}


//.checkmark:checked~.circle__pink{border: torem(1px) solid #ec1e79;}