.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.header__logo{padding-top: torem(12px);}

.header__order{margin-left:torem(15px);}

.header__links{display:flex; align-items: baseline;}