.review__obj {
    position: relative;
    filter: grayscale(100%);
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: left;
        width: 100%;
        height: 100%;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: transparent;
          transition: .3s;
        }
        
      
    &:hover {
        .review__onhower {
            opacity: 1;
        }
    }
}

.review__pic {
   
    width: 100%;
    height: 100%;
    @include cover;
}

.review__onhower {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(#000, .8);
    padding: torem(45px) 15% torem(10px);
    color: #fff;
    opacity: 0;
    transition: opacity .3s;
    text-align: left;
    @include tablets {
        padding: 0 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
}

.review__title{color: #ffffff;
    font-family: 'Gagalin-Regular';
    font-size: torem(14px);
    font-weight: 400;
    line-height: torem(1px);
margin-bottom: torem(30px);
    @include tablets{
        margin-bottom: torem(10px);
    }

    @include phones{ margin-bottom: torem(30px);
        display: contents;
        line-height: 1;
        font-size: torem(24px);
        word-wrap: break-word;
        }
}

    .review__text{color: #ffffff;
        font-family: 'Ubuntu';
        font-size: torem(14px);
        font-weight: 300;
    margin-bottom: torem(15px);
    @include phones{display:none;}
    }