.btn {
    width: torem(100px);
    height: torem(35px);
    padding: torem(9px) torem(13px);
    border-radius: torem(5px);
    background-color: #e45028;
   
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: torem(13px);
    text-transform: uppercase;
    margin-left: torem(30px);
    display: inline-block;

    &:hover {
        background-color: #c1401e;
    }
}
button:focus {outline:0;}
.rewiev__btn {
    width: torem(110px);
    height: torem(35px);
    padding: torem(9px) torem(13px);
    border-radius: torem(5px);
    background-color: #2f3234;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: torem(13px);
    text-transform: uppercase;

    display: inline-block;

    &:hover {
        background-color: #1f2122;
    }

    @include phones{display: none;}

}

.rewiev__btn-mobile {
    width: torem(130px);
    height: torem(35px);
    padding: torem(9px) torem(13px);
    border-radius: torem(5px);
    background-color: #2f3234;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: torem(13px);
    text-transform: uppercase;

    display: none;

    &:hover {
        background-color: #1f2122;
    }

    @include phones{display: inline-block;
        margin-top: torem(20px);
    }

}